header{
    background-color:burlywood;
    margin: 0%;
    padding: 10px;
    font-size: x-large;
}
Ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
body{
    margin: 0%;
    background-color: antiquewhite;
}